/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.button {
  position: relative;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: var(--main-color);
  transition: color 0.5s ease-in-out;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
}

.button:hover {
  color: var(--bg-color);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  block-size: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: 0 none;
}

.button:focus-visible {
  outline: 0 none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  background-attachment: fixed;
  background-image: var(--bg-picure);
}

.header,
footer,
.card {
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.header {
  max-inline-size: 700px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px;
}

.header__title {
  margin-block-start: 120px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 49px;
  text-transform: uppercase;
  color: var(--main-color);
}

.header__subtitle {
  margin-block-start: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
}

.header__theme-menu {
  margin: 25px 0px;
}

.theme-menu__list {
  list-style: none;
  padding-inline-start: 20px;
}

.theme-menu__item:not(:last-of-type) {
  margin-block-end: 14px;
}

.theme-menu__button {
  position: relative;
  border: 0px none;
  padding: 1px;
  font-size: 14px;
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: transparent;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: 0 none;
}

.theme-menu__button:focus-visible {
  outline: 0 none;
  filter: opacity(60%);
}

.theme-menu__button:focus-visible::after {
  content: "";
  position: absolute;
  inset-block-end: -2px;
  inset-inline-start: 0px;
  background-color: var(--main-color);
  block-size: 2px;
  inline-size: 100%;
  transform-origin: left;
  transform: scaleX(0);
  filter: opacity(60%);
  animation: underlineAnimation 0.5s ease forwards;
}

.theme-menu__button[disabled="true"] {
  filter: opacity(60%);
}

.theme-menu__button[disabled="true"]::after {
  content: "▶";
  position: absolute;
  inset: 0px -20px;
  inline-size: 14px;
  block-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  animation: arrowMovement 0.5s infinite ease-in-out alternate;
}

.card {
  display: flex;
  flex-direction: column;
  max-inline-size: 696px;
}

.card:not(:last-of-type) {
  margin-block-end: 52px;
}

.card__title {
  margin: 4px 10px 6px;
}

.card__picture {
  position: relative;
  max-block-size: 686px;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
  overflow: hidden;
}

.card__image-title,
.card__custom-text,
.card__text,
.button {
  font-variation-settings: "wght" var(--text-weight);
}

.card__title,
.dialog__text {
  font-variation-settings: "wght" var(--title-weight);
}

.card__image-title {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  text-shadow: 0 0 3px white;
  mix-blend-mode: hard-light;
  filter: opacity(50%);
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__image-title {
    -webkit-text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100vw;
  object-fit: cover;
  object-position: center;
}

.card__image_hr_60 {
  filter: hue-rotate(60deg);
}

.card__image_hr_225 {
  filter: hue-rotate(225deg);
}

.card__image_sat_0-25 {
  filter: saturate(0.25);
}

.card__image_sat_2-00 {
  filter: saturate(2);
}

.card__image_hr_225_sat_2-00 {
  filter: hue-rotate(225deg) saturate(2);
}

.card__image_hr_225_bri_0-50 {
  filter: hue-rotate(225deg) brightness(0.5);
}

.card__image_hr_120_bri_1-50_sat_1-50 {
  filter: hue-rotate(120deg) brightness(1.5) saturate(1.5);
}

.card__image_gr_0-6_bri_1-20_cont_1-20 {
  filter: grayscale(0.6) brightness(1.2) contrast(1.2);
}

.card__image_bl_2px_cont_1-5_sep_1_inv_0-7 {
  filter: blur(2px) contrast(1.5) sepia(1) invert(0.7);
}

.card__text,
.card__custom-text,
.card__title {
  font-family: "Inter-Variable", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--main-color);
}

.card__text {
  margin: 25px 25px 0px;
}

.card__custom-text {
  margin: 25px;
}

.card__controls {
  display: flex;
  align-items: center;
  margin: 0px 25px 25px auto;
}

.card__icon-button {
  background-color: transparent;
  border: 0 none;
  padding: 0px;
  margin-inline-end: 12px;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: 0 none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -1px;
}

.card__like-button {
  inline-size: 130px;
  padding: 12.5px 0px;
  border: 2px solid var(--main-color);
}

.core {
  fill: var(--main-color);
  opacity: 0;
  transition: opacity 0.3s 0.03s, fill 0.3s 0.03s;
}

.main-body {
  fill: var(--main-color);
  opacity: 0;
  transition: opacity 0.3s, fill 0.3s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s 0.05s;
}

.card__icon-button:hover .core {
  opacity: 1;
  transition: opacity 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--red);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--red);
  transition: fill 0.3s;
}

.is-liked .heart {
  transform-origin: center;
}

.is-liked .main-body {
  fill: var(--red);
  opacity: 1;
  transition: fill 0.3s 0.05s, opacity 0.3s 0.05s;
}

.is-liked .core {
  fill: var(--red);
  opacity: 1;
  transition: fill 0.3s, opacity 0.3s;
}

.is-liked .contour {
  fill: var(--red);
  transition: fill 0.3s 0.06s;
}

.footer {
  margin: 50px 0px 100px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border: 0 none;
}

.floppy {
  inline-size: 28px;
}

.footer__button:focus {
  outline: 0 none;
  border: 0 none;
}

.footer__button:focus-visible {
  outline: 0 none;
  box-shadow: 2px 2px 0 var(--main-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  max-inline-size: 355px;
  border: 2px solid var(--main-color);
  padding: 30px;
  background-color: var(--bg-color);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog__floppy {
  inline-size: 56px;
  color: var(--main-color);
}

.dialog__text {
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-color);
}

.dialog__button {
  margin-block-start: 30px;
  inline-size: 100%;
  padding: 12.5px 0px;
  border: 2px solid var(--main-color);
}

@media (width >= 375px) {
  .footer__button {
    flex-direction: row;
  }
}

@media (width >= 686px) {
  .card__image {
    block-size: 686px;
  }
}
