/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --green: #00cc14;
  --dark-green: #004306;
  --black: #000;
  --white: #fff;
  --red: #ff0000;

  --text-weight: 400;
  --title-weight: 700;
  --floppy-color: var(--black);
  --bg-color: var(--white);
  --main-color: var(--black);
  --bg: linear-gradient(#e7e7e7, transparent),
    repeating-linear-gradient(
      var(--bg-color),
      var(--bg-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      var(--bg-color) 2px,
      var(--bg-color) 4px
    );
}
